@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: white;
  box-sizing: border-box;
  font-family: Epilogue;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.attribution {
  font-size: 14px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    display: flex;
  }
  nav img {
    z-index: 1;
    height: fit-content;
  }
  nav .nav-menu {
    display: none;
  }
  nav .nav-menu div {
    color: hsl(0deg, 0%, 41%);
    font-size: 16px;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 0;
    margin-bottom: 0;
  }
  nav .nav-menu div ul {
    gap: 18px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  nav .nav-menu div ul .features-div,
nav .nav-menu div ul .company {
    margin: 0;
  }
  nav .nav-menu div ul .features-div ul,
nav .nav-menu div ul .company ul {
    display: none;
    margin-top: 30px;
    margin-left: 28px;
    margin-bottom: 10px;
  }
  nav .nav-menu div ul .features-div ul li,
nav .nav-menu div ul .company ul li {
    cursor: pointer;
  }
  nav .nav-menu div ul .features-div > li,
nav .nav-menu div ul .company > li {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  nav .nav-menu div ul .features-div > li img,
nav .nav-menu div ul .company > li img {
    margin-left: 8px;
  }
  nav .nav-menu div ul .features-div .features li img,
nav .nav-menu div ul .company .features li img {
    margin-right: 10px;
  }
  nav .nav-menu div .cta {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    align-items: center;
  }
  nav .nav-menu div .cta button {
    width: 90%;
    color: hsl(0deg, 0%, 41%);
    font-size: 16px;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border-color: hsl(0deg, 0%, 41%);
  }
  nav .nav-menu div .cta .login {
    padding: 0;
    border: none;
  }
  nav .nav-active {
    box-shadow: -250px 10px 18px 35px rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 65vw;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
  }

  .hero-img img {
    width: 100%;
  }

  .reading-sec {
    text-align: center;
  }
  .reading-sec h1 {
    margin: 40px 0 0;
    font-size: 2.25rem;
  }
  .reading-sec p {
    margin: 20px 20px 0;
    line-height: 1.4;
    color: hsl(0deg, 0%, 41%);
    font-size: 16px;
  }
  .reading-sec button {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
    background: #000;
    color: #fff;
    font-weight: 500;
    padding-top: 13px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 13px;
    font-size: 16px;
    border-radius: 15px;
  }
  .reading-sec div {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }
  .reading-sec div img {
    height: fit-content;
    width: 20%;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-color: rgb(255, 255, 255);
  }

  nav {
    gap: 80px;
    margin: 20px 30px;
    align-items: center;
    display: flex;
  }
  nav > img {
    height: fit-content;
  }

  .nav-menu > div {
    gap: 94%;
    align-items: center;
    display: flex;
  }
  .nav-menu > div > ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 35px;
    color: hsl(0deg, 0%, 41%);
    font-size: 17px;
  }
  .nav-menu > div > ul > li {
    cursor: pointer;
  }
  .nav-menu > div > ul > li:hover {
    color: hsl(0deg, 0%, 8%);
  }
  .nav-menu > div > ul .features-btn,
.nav-menu > div > ul .company-btn,
.nav-menu > div > ul .feat-active,
.nav-menu > div > ul .comp-active {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .nav-menu > div > ul .features-btn img,
.nav-menu > div > ul .company-btn img,
.nav-menu > div > ul .feat-active img,
.nav-menu > div > ul .comp-active img {
    margin-left: 5px;
  }
  .nav-menu > div > ul .features-btn:hover,
.nav-menu > div > ul .company-btn:hover,
.nav-menu > div > ul .feat-active:hover,
.nav-menu > div > ul .comp-active:hover {
    color: hsl(0deg, 0%, 8%);
  }
  .nav-menu > div > ul .features {
    right: 1066.8px;
  }
  .nav-menu > div > ul .features img {
    margin-right: 7px;
  }
  .nav-menu > div > ul .features,
.nav-menu > div > ul .company-info {
    border-radius: 10px;
    top: 70px;
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    background-color: #fff;
    padding: 20px 20px;
    box-shadow: 0px 10px 24px 10px rgba(0, 0, 0, 0.14), 0px 16px 30px 10px rgba(0, 0, 0, 0.12), 0px 8px 5px -7px rgba(0, 0, 0, 0.2);
  }
  .nav-menu > div > ul .features li,
.nav-menu > div > ul .company-info li {
    cursor: pointer;
    width: fit-content;
  }
  .nav-menu > div .cta {
    display: flex;
  }
  .nav-menu > div .cta .login {
    border: none;
  }
  .nav-menu > div .cta button {
    padding: 8px 20px;
    color: hsl(0deg, 0%, 41%);
    font-size: 16px;
    background: #fff;
    border-radius: 10px;
    border-color: hsl(0deg, 0%, 41%);
  }
  .nav-menu > div .cta button:hover {
    color: hsl(0deg, 0%, 8%);
    border-color: hsl(0deg, 0%, 8%);
  }

  .hero-img {
    margin-top: 200px;
  }
}

/*# sourceMappingURL=styles.css.map */
