@use 'variables' as v;

.attribution {
    font-size: 14px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: "375px") {

    nav {
        justify-content: space-between;
        @include v.padding (15px, 15px, 15px, 15px);
        display: flex;

        img {
            z-index: 1;
            height: fit-content;
        }

        .nav-menu {
            display: none;

            div {
                color: v.$grey;
                font-size: 16px;
                @include v.margin(60px, 20px, 0, 0);

                ul {
                    gap: 18px;
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    margin: 0;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 0;
                    @include v.margin (30px, 0, 0, 0);
                    align-items: center;

                    button {
                        width: 90%;
                        color: v.$grey;
                        font-size: 16px;
                        background: #fff;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border-radius: 15px;
                        border-color: v.$grey;
                    }

                    .login {
                        padding: 0;
                        border: none;
                    }
                }
            }
        }

        .nav-active {
            height: 100vh;
            width: 70vw;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            background: #fff;
        }
    }

    .hero-img {
        img {
            width: 100%;
        }
    }

    .reading-sec {
        text-align: center;

        h1 {
            margin: 40px 0 0;
            font-size: 2.25rem;
        }

        p {
            margin: 20px 20px 0;
            line-height: 1.4;
            color: v.$grey;
            font-size: 16px;
        }

        button {
            @include v.margin (25px, 0, 0, 30px);
            background: #000;
            color: #fff;
            font-weight: 500;
            @include v.padding(13px, 25px, 25px, 13px);
            font-size: 16px;
            border-radius: 15px;
        }

        div {
            @include v.margin (20px, 0, 0, 80px);
            align-items: center;
            justify-content: space-between;
            display: flex;
            @include v.padding (0, 20px, 20px, 0);

            img {
                height: fit-content;
                width: 20%;
            }
        }
    }
}